@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$main-color-dark: #2C2727;
$text-color-orange: #FF7517;
$default-size: 16px;

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #F6F4F4;
    display: flex;
    flex-direction: column;
    background-image: url(/img/large-triangles.svg);
}

header {

    nav {
        background-color: $main-color-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        img {
            width: 200px;
            margin: 10px;
            margin-right: auto;
            padding-right: 36px;
        }
        a {
            text-decoration: none;
            display: inline-block;
            padding: 0px 16px 4px 16px; 
            margin-right: auto;
            margin-left: 20px;
            border: 1px solid rgb(95, 95, 95);
            font-size: 30px;
        }
        .previous {
            background-color: #3E3939;
            color: rgb(255, 255, 255);
        }
        .previous:hover {
            background-color: #494343;
        }

        
    }
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .loginContainer {
        width: 40%;
        height: 400px;
        background-color: #F6F4F4;

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5%;

            button {
                width: 100%;
            }
            input {
                margin: 10px 0;
            }
        }
    }
}


footer {
    height: 50px;
    background-color: #3E3939;
}
