@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body {
    min-height: 100vh;                  //makes full height responsive
    font-family: "Montserrat", sans-serif;
    color: #3E3939;
    background-color: white;
}
// this is a container for all elements that need display flex
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
//--------------header-------------------
header {
    background-color: #3E3939;
    flex-direction: column;
    justify-content: start;
    height: 300px;
    nav {
        background-color: #2C2727;
        justify-content: space-between;
        align-items: center;
        #logo {
            width: 200px;
            margin: 10px;
        }
        ul {
            width: 200px;
            justify-content: space-evenly;

            li:first-child a {
                background-color: #FF7517;
                color: rgb(0, 0, 0);
                font-weight: bold;
            }
            
            li {
                
                a {
                    color: #FF7517;
                    padding: 10px;
                    border-radius: 5%;
                }
            }
            
        }
    }
}

/*----------used Swiper library for the carousel---------*/
.swiper {
    width: 60%;
    height: 65%;
    margin: 5px auto;
    align-self: center;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #3E3939;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .swiper-button-next, .swiper-button-prev {
      color: #FF7517;
  }
// end of Swiper css

//-------------wrapper for main content--------------
#wrapper {                           
    max-width: 80%;   
    margin: 0 auto; //center page
}
//--------main content------------
main {
    nav.sticky {
        position: sticky;
        top: 0;
    }
    nav {
        border-bottom: 1px solid #F6F4F4;
        padding: 5px 0;
        background-color: white;      //this way the sticky navbar is better visible
        ul {
            justify-content: start;
            margin: 5px 0;
            padding: 5px 0;
            li {
                padding: 5px 10px;
                padding-left: 0;
                a {
                    color: #3E3939;
                }
                a:hover {
                    color: #FF7517;
                    font-size: 1.1em;
                    font-weight: bold;
                }
            }
        }
    }

    section {
        background-color: #F6F4F4; //it's just for visual example for layout
        margin: 15px 0;
        padding: 15px 25px 25px;
        border-radius: 10px;
        flex-direction: column;
        .small {
            font-weight: normal;
            font-size: 0.8em;
        }
        p {
            margin-top: 15px;
            text-align: justify;
        }
        img {                   //this makes the img responsive
            max-width: 100%;
            height: auto;
        }
        div {
            justify-content: space-between;
            width: 80%;
            p {
                width: 70%;
            }
        }
        article {
            padding: 10px 0;
            div {
                padding-top: 10px;
                li {
                    padding: 3px;
                }
            }
        }

        .section2 {
            flex-wrap: nowrap;
            width: 100%;
            p {
                width: 100%;
            }
            .first-ul {
                padding: 10px 15px;
                .first-list {
                    margin: 5px 0;
                    list-style-type: disc;
                    font-weight: bold;
                }
                .nested-ul {
                    padding: 5px 15px;
                    .nested-list {
                        margin: 5px 0;
                        font-weight: normal;
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }

        a {
            color: #FF7517;
            text-decoration: underline;
            align-self: center;
        }
        a:hover {
            font-weight: bold;
        }
        iframe {
            margin: 10px;
            padding: 0 20px 20px;
            max-width: 100%;
        }
    }

    #reviews {
        .reviews {
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            width: 100%;
            padding: 10px 0;
        }
        article:not(:last-child) {
            border-bottom: 1px solid #3e393925;
        }
        #average-rating {
            border: none;
            padding: 0;
        }
        article {
            text-align: justify;
            .star-rating {
                font-size: 1.5em;   //24px cause 16px is standard browser font size -> 16*1.5 = 24
                margin-bottom: 5px;
            }
            .checked {
                color: #FF7517;
            }
            h4 {
                margin-bottom: 10px;
                color:#FF7517;
            }
            span {
                font-size: 0.83em;          //same font size as h5
            }
            p {
                width: 100%;
            }
        }  
        h2 {
            font-size: 1em;
            margin-bottom: 5px;
        }
    }
}

//--------------form from formspree-----------
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
font-family: inherit;
font-size: 100%;
color: inherit;
border: none;
border-radius: 0;
display: block;
width: 100%;
padding-left: 15px;
margin: 0;
-webkit-appearance: none;
-moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
font-size: .825rem;
margin-bottom: .5rem;
padding-top: .2rem;
display: flex;
align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
border: 1px solid rgba(0,0,0,0.2);
background-color: rgba(255,255,255,0.9);
padding: .75em 1rem;
margin-bottom: 1.0rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
background-color: white;
outline-style: solid;
outline-width: thin;
outline-color: gray;
outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
width: auto;
cursor: pointer;
-webkit-appearance: button;
-moz-appearance: button;
appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
margin-bottom: 0;
margin-left: 15px;
background-color: #FF7517;
color: white;
border-radius: 5px;
}
#fs-frm [type="submit"]:hover {
    font-weight: bold;
}
#fs-frm select {
text-transform: none;
}

#fs-frm [type="checkbox"] {
-webkit-appearance: checkbox;
-moz-appearance: checkbox;
appearance: checkbox;
display: inline-block;
width: auto;
margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
-webkit-appearance: radio;
-moz-appearance: radio;
appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
margin-right: 3%;
}

//---------start of the footer--------------
footer {
    background-color: #F6F4F4;
    height: 300px;
    text-align: center;
    p {
        color:#FF7517
    }
    section {
        justify-content: start;
        ul {
            text-align: left;
            padding: 25px;
            li {
                padding: 5px;
                p {
                    font-weight: bold;
                }
                a {
                    color: #3E3939;
                }
            }
            .logo {
                text-align: center;
            }
        }
    }
}

//------------------media queries for responsiveness--------------
@media screen and (max-width: 768px) {
    main {
        section {
            div {
                width: 100%;
            }
        }
        .section2 {
            flex-direction: column;
            .iframe {
                text-align: center;             //centers the iframe
            }
        }
    }
}

@media screen and (max-width: 425px) {
    header {
        height: 350px;                  //makes swiper fit on mobile
        nav {
            flex-direction: column;
        }
    }

    main {
        #overview {
            text-align: center;
            div {
                flex-direction: column;
                p {
                    width: 100%;
                    margin-bottom: 10px;
                    text-align: center;
                }
            }
            article div {
                text-align: left;
            }
        }
        #reviews {
            text-align: center;
            .reviews {
                flex-direction: column;
            }
            div {
                article {
                    text-align: center;
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
#fs-frm [type="submit"] {
    margin: 0 auto;   //aligns the button in the center;
}

    footer {
        section {
            justify-content: center;
        }
    }
}
