@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #3E3939;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header {
  background-color: #3E3939;
  height: 300px;
}

header nav {
  background-color: #2C2727;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 20px;
}

header nav #logo {
  background-color: #FF7517;
  /*temporary placeholder for actual logo*/
  width: 50px;
  height: 50px;
}

header nav ul li {
  padding: 0 10px;
}

header nav ul li a {
  color: #FF7517;
}

header nav ul #sign-up {
  border-left: 1px solid #FF7517;
  font-weight: bold;
}

/*----------used Swiper library for the carousel---------*/
.swiper {
  width: 60%;
  height: 75%;
  margin: 5px auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #3E3939;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
  color: #FF7517;
}

#wrapper {
  max-width: 80%;
  margin: 0 auto;
}

main nav {
  border-bottom: 1px solid #F6F4F4;
  padding: 5px 0;
}

main nav ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 5px 0;
  padding: 5px 0;
}

main nav ul li {
  padding: 5px 10px;
  padding-left: 0;
}

main nav ul li a {
  color: #3E3939;
}

main nav ul li a:hover {
  color: #FF7517;
  font-size: 1.1em;
  font-weight: bold;
}

main section {
  background-color: #F6F4F4;
  margin: 15px 0;
  padding: 15px 25px 25px;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section h2 {
  font-weight: normal;
  font-size: 0.8em;
}

main section p {
  margin-top: 15px;
  text-align: justify;
}

main section img {
  max-width: 100%;
  height: auto;
}

main section div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

main section div p {
  width: 70%;
}

main section article {
  padding: 10px 0;
}

main section article div {
  padding-top: 10px;
}

main section article div li {
  padding: 3px;
}

main section #section2 {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

main section #section2 p {
  width: 100%;
}

main section #section2 .first-ul {
  padding: 10px 15px;
}

main section #section2 .first-ul .first-list {
  margin: 5px 0;
  list-style-type: disc;
  font-weight: bold;
}

main section #section2 .first-ul .nested-ul {
  padding: 5px 15px;
}

main section #section2 .first-ul .nested-ul .nested-list {
  margin: 5px 0;
  font-weight: normal;
}

main section #section2 .first-ul .nested-ul .nested-list p {
  margin: 0;
}

main section a {
  color: #FF7517;
  text-decoration: underline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main section a:hover {
  font-weight: bold;
}

main section iframe {
  margin: 10px;
  max-width: 100%;
}

main #reviews {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main #reviews .button {
  color: white;
  background-color: #FF7517;
  border: none;
  border-radius: 5%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px;
  cursor: pointer;
}

main #reviews button:hover {
  font-weight: bold;
}

main #reviews article:not(:last-child) {
  border-bottom: 1px solid #3e393925;
}

main #reviews article {
  text-align: justify;
}

main #reviews article h4 {
  margin-bottom: 10px;
  color: #FF7517;
}

main #reviews article span {
  font-size: 0.83em;
}

footer {
  background-color: #F6F4F4;
  height: 300px;
  text-align: center;
}

footer p {
  color: #FF7517;
}

footer section {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

footer section ul {
  text-align: left;
  padding: 25px;
}

footer section ul li {
  padding: 5px;
}

footer section ul li p {
  font-weight: bold;
}

footer section ul li a {
  color: #3E3939;
}

footer section ul .logo {
  text-align: center;
}
/*# sourceMappingURL=page2.css.map */