@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #3E3939;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header {
  background-color: #3E3939;
  height: 300px;
}

header nav {
  background-color: #2C2727;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 20px;
}

header nav #logo {
  background-color: #FF7517;
  /*temporary placeholder for actual logo*/
  width: 50px;
  height: 50px;
}

header nav ul li {
  padding: 0 10px;
}

header nav ul li a {
  color: #FF7517;
}

header nav ul #sign-up {
  border-left: 1px solid #FF7517;
  font-weight: bold;
}

/*----------used Swiper library for the carousel---------*/
.swiper {
  width: 60%;
  height: 75%;
  margin: 5px auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #3E3939;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
  color: #FF7517;
}

#wrapper {
  max-width: 80%;
  margin: 0 auto;
}

main nav {
  border-bottom: 1px solid #F6F4F4;
  padding: 5px 0;
}

main nav ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 5px 0;
  padding: 5px 0;
}

main nav ul li {
  padding: 5px 10px;
  padding-left: 0;
}

main nav ul li a {
  color: #3E3939;
}

main nav ul li a:hover {
  color: #FF7517;
  font-size: 1.1em;
  font-weight: bold;
}

main section {
  background-color: #F6F4F4;
  margin: 15px 0;
  padding: 15px 25px 25px;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section h2 {
  font-weight: normal;
  font-size: 0.8em;
}

main section p {
  margin-top: 15px;
  text-align: justify;
}

main section img {
  max-width: 100%;
  height: auto;
}

main section div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

main section div p {
  width: 70%;
}

main section article {
  padding: 10px 0;
}

main section article div {
  padding-top: 10px;
}

main section article div li {
  padding: 3px;
}

main section #section2 {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

main section #section2 p {
  width: 100%;
}

main section #section2 .first-ul {
  padding: 10px 15px;
}

main section #section2 .first-ul .first-list {
  margin: 5px 0;
  list-style-type: disc;
  font-weight: bold;
}

main section #section2 .first-ul .nested-ul {
  padding: 5px 15px;
}

main section #section2 .first-ul .nested-ul .nested-list {
  margin: 5px 0;
  font-weight: normal;
}

main section #section2 .first-ul .nested-ul .nested-list p {
  margin: 0;
}

main section a {
  color: #FF7517;
  text-decoration: underline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main section a:hover {
  font-weight: bold;
}

main section iframe {
  margin: 10px;
  padding: 0 20px 20px;
  max-width: 100%;
}

main #reviews {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main #reviews .button {
  color: white;
  background-color: #FF7517;
  border: none;
  border-radius: 5%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px;
  cursor: pointer;
}

main #reviews button:hover {
  font-weight: bold;
}

main #reviews article:not(:last-child) {
  border-bottom: 1px solid #3e393925;
}

main #reviews article {
  text-align: justify;
}

main #reviews article .star-rating {
  font-size: 1.5em;
  margin-bottom: 5px;
}

main #reviews article .star-rating .checked {
  color: #FF7517;
}

main #reviews article h4 {
  margin-bottom: 10px;
  color: #FF7517;
}

main #reviews article span {
  font-size: 0.83em;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding-left: 15px;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::-webkit-input-placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: baseline;
          align-items: baseline;
}

#fs-frm label,
#fs-frm legend,
#fs-frm :-ms-input-placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::-ms-input-placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: .75em 1rem;
  margin-bottom: 1.0rem;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
  margin-left: 15px;
  background-color: #FF7517;
  color: white;
  border-radius: 5px;
}

#fs-frm [type="submit"]:hover {
  font-weight: bold;
}

#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}

#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}

#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}

#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}

footer {
  background-color: #F6F4F4;
  height: 300px;
  text-align: center;
}

footer p {
  color: #FF7517;
}

footer section {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

footer section ul {
  text-align: left;
  padding: 25px;
}

footer section ul li {
  padding: 5px;
}

footer section ul li p {
  font-weight: bold;
}

footer section ul li a {
  color: #3E3939;
}

footer section ul .logo {
  text-align: center;
}
/*# sourceMappingURL=page2.css.map */